body{
    background-image: url(ee2faa1840e5c3c292643c386ee3a5cf.jpg);
    background-repeat: repeat;
    background-position: 0%;
    background-attachment: local;
    background-color: black;
}
     

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 10px;
}